<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/errorstyle.css">
</head>
<body>
    <div class="flex-center position-r full-height">
        <div class="code">
          404 </div>
      
        <div class="message" style="padding: 10px;">
          PAGE NOT FOUND </div>
      </div>
</body>
</html>